---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import H1 from "../../components/H1.astro";
import Main from "../../components/Main.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

export const getStaticPaths = async () => {
    const allArticles = await getCollection('articles');
    const paths = allArticles.map(article => {
        return {
            params: {
                slug: article.slug
            },
            props: {
                article
            }
        }
    })

    return paths;
}

interface Props {
    article: CollectionEntry<'articles'>
}

const {article} = Astro.props
const {Content} = await article.render()
---

<Layout title={article.data.title}>
	<Main>
		<H1 text={article.data.title}/>
        <Image 
            src={article.data.image}
            width={1024}
            height={1024 / 1.5}
            alt={article.data.title}
            class="rounded-2xl shadow-xl mb-4 object-cover"
        />

        <div class="prose prose-2xl overflow-visible relative mb-20">
            <Content /> 
        </div>
    </Main>
</Layout>